body {
  margin: 0 auto;
  min-height: 100vh;
  text-align: center;
  background: url("https://www.shutterstock.com/image-vector/star-universe-background-stardust-deep-600nw-1907210152.jpg")
    no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main app container */
.app {
  min-width: 450px;
  padding: 1.2rem;
  border: 2px solid #fff;
  border-radius: 1.5rem;
  box-shadow: 4px 4px 6px rgba(0, 255, 255, 0.7);
}

/* App heading style */
.app-heading {
  color: #fff;
  margin-top: 0;
  font-size: 2.2rem;
  font-weight: bold;
}

/* Search box style */
.searchbox {
  height: 2rem;
  width: 15rem;
  font-size: 1rem;
  margin-right: 1rem;
  border: 2px solid #333;
  outline: none;
}

.list-title {
  color: #fff;
  font-size: 1.7rem;
  margin-bottom: 0.7rem;
}

.todo-list {
  list-style: none;
  margin-bottom: 0.5rem;
}

/* Todo item style */
.todo {
  display: flex;
  padding: 0.5rem;
  margin-bottom: 0;
  justify-content: space-between;
  align-items: center;
}

.todo-name {
  color: #fff;
  font-size: 1.57rem;
  font-weight: 600;
  text-transform: uppercase;
}

/* Base button style */
.btn {
  color: #fff;
  margin: 0.3rem;
  padding: 0.4rem 1.2rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.05s linear;
}

/* Submit button style */
.submit-btn {
  padding: 0.6rem 1.2rem;
  border-radius: 0.7rem;
  background-color: #007bff;
}

/* Remove button style */
.rmv-btn {
  background-color: #dc3545;
}

/* Complete button style */
.cmplt-btn {
  background-color: #28a745;
}

/* Submit button hover effect */
.submit-btn:hover {
  background-color: #0056b3;
  transform: scale(1.01);
}

/* Remove button hover effect */
.rmv-btn:hover {
  background-color: #c82333;
}

/* Complete button hover effect */
.cmplt-btn:hover {
  background-color: #218838;
}
