#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.app {
  min-width: 450px;
  padding: 1.2rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.app-heading {
  font-size: 2.2rem;
  font-weight: bold;
  margin-top: 0;
}

.searchbox {
  height: 1.5rem;
  width: 10rem;
  margin-right: 1rem;
  border: 2px solid #333;
  outline: none;
}

.todo {
  font-size: 1.1rem;
  font-style: italic;
  margin-right: 0.7rem;
}

.btn {
  color: #fff;
  margin: 0.3rem;
  padding: 0.3rem 1.2rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.05s linear;
}

.submit-btn {
  padding: 0.5rem 1.2rem;
  background-color: #007bff;
}

.rmv-btn {
  background-color: #dc3545;
}

.cmplt-btn {
  background-color: #28a745;
}

.submit-btn:hover {
  background-color: #0056b3;
  transform: scale(1.01);
}

.rmv-btn:hover {
  background-color: #c82333;
}

.cmplt-btn:hover {
  background-color: #218838;
}
