/* Body Styles */
body {
  margin: 0 auto;
  min-height: 100vh;
  text-align: center;
  background: url("https://www.shutterstock.com/image-vector/star-universe-background-stardust-deep-600nw-1907210152.jpg")
    no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main App Styles */
.app {
  min-width: 450px;
  padding: 1.2rem;
  border: 2px solid #fff;
  border-radius: 1.5rem;
  box-shadow: 4px 4px 6px rgba(0, 255, 255, 0.7);
}

/* App Heading Styles */
.app-heading {
  color: #fff;
  margin-top: 0;
  font-size: 2.2rem;
  font-weight: bold;
}

/* Search Box Styles */
.searchbox {
  height: 2rem;
  width: 15rem;
  font-size: 1rem;
  margin-right: 1rem;
  border: 2px solid #333;
  outline: none;
}

/* List Title Styles */
.list-title {
  color: #fff;
  font-size: 1.7rem;
  margin-bottom: 0.7rem;
}

/* Todo List Styles */
.todo-list {
  list-style: none;
  margin-bottom: 0.5rem;
}

/* Todo Item Styles */
.todo {
  display: flex;
  padding: 0.5rem;
  margin-bottom: 0;
  justify-content: space-between;
  align-items: center;
}

.todo-name {
  color: #fff;
  font-size: 1.57rem;
  font-weight: 600;
  text-transform: uppercase;
}

/* Base Button Styles */
.btn {
  color: #fff;
  margin: 0.3rem;
  padding: 0.4rem 1.2rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.05s linear;
}

/* Submit Button Style */
.submit-btn {
  padding: 0.6rem 1.2rem;
  border-radius: 0.7rem;
  background-color: #007bff;
}

/* Remove Button Style */
.rmv-btn {
  background-color: #dc3545;
}

/* Complete Button Style */
.cmplt-btn {
  background-color: #28a745;
}

/* Submit Button Hover Effect */
.submit-btn:hover {
  background-color: #0056b3;
  transform: scale(1.01);
}

/* Remove Button Hover Effect */
.rmv-btn:hover {
  background-color: #c82333;
}

/* Complete Button Hover Effect */
.cmplt-btn:hover {
  background-color: #218838;
}

/* Media Queries */
@media (max-width: 480px) {
  .app {
    padding: 1rem;
  }

  .todo-name {
    font-size: 1.1rem;
  }

  .btn {
    font-size: 1rem;
    padding: 0.3rem 1rem;
  }

  .app-heading {
    font-size: 1.5rem;
  }

  .list-title {
    font-size: 1.2rem;
  }
}

